<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142023273276-chil2nu9c5mqd2uas4nupcg1io3s5450.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142023273276-chil2nu9c5mqd2uas4nupcg1io3s5450</string>
	<key>API_KEY</key>
	<string>AIzaSyDRypgB6t95PPz74TOpQ3WHVLjNp5UT7GY</string>
	<key>GCM_SENDER_ID</key>
	<string>142023273276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filipdoganowski.mojeFaktury</string>
	<key>PROJECT_ID</key>
	<string>moje-faktury-developement</string>
	<key>STORAGE_BUCKET</key>
	<string>moje-faktury-developement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142023273276:ios:c137924b9e878282110c39</string>
</dict>
</plist>